<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phase3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phase3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Main Activity - This should be the entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Phase3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Student Register Activity - This is another screen -->
        <activity
            android:name=".studentRegister"
            android:exported="true"
            android:label="Student Register"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Student Choice Activity -->
        <activity
            android:name=".StudentChoiceActivity"
            android:exported="true"
            android:label="Student Choice"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Login Activity - This is another screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login Activity"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Instructor Home Activity -->
        <activity
            android:name=".InstructorHomeActivity"
            android:exported="true"
            android:label="Instructor Home"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Student Home Activity -->
        <activity
            android:name=".StudentHomeActivity"
            android:exported="true"
            android:label="Student Home"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Student Home Activity -->
        <activity
            android:name=".CourseRegistrationActivity"
            android:exported="true"
            android:label="Course Registration"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Student Academic History Activity -->
        <activity
            android:name=".StudentAcademicHistoryActivity"
            android:exported="true"
            android:label="Academic History"
            android:theme="@style/Theme.Phase3">
        </activity>

        <!-- Student Alerts Activity -->
        <activity
            android:name=".StudentAlertsActivity"
            android:exported="false"
            android:label="Academic Alerts"
            android:theme="@style/Theme.Phase3" />

        <!-- Instructor Grade Activity -->
        <activity
            android:name=".InstructorGradeActivity"
            android:exported="false"
            android:label="Submit Midterm Grades"
            android:theme="@style/Theme.Phase3" />

    </application>

</manifest>
